.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  background-color: brown;
  height: 100%;
}

.parkCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: seagreen;
  border-radius: 10px;
  width: 25vw;
  height: 25vh;
  margin: 10px;
}
.parkCard > img {
  height: 100px;
}
