@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  background-color: brown;
  height: 100%;
  font-family: 'Nova Mono', monospace;
}

.parkCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: seagreen;
  border-radius: 10px;
  width: 25vw;
  height: 25vh;
  margin: 10px;
}
.parkCard > img {
  height: 100px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: seagreen;
  width: 100vw;
  height: 10vh;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: brown;
  text-shadow: 1px 1px orange;
}
